# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Database file
/database.db
# PyCharm IDE files
/.idea/
# instance folder
/instance/
# __pycache__ folder
/__pycache__/