body {
    font-family: SansSerif, sans-serif;
}
h1{
    text-align: center;
}
#price{
    text-align: right;
}
header {
    background-color: #87CEEB;
    padding: 20px;
}
header h1 {
    margin: 0;
    text-align: center;
    background-color: #87CEEB;
}
nav {
    text-align: center;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    margin: 0 10px;
}
nav a {
    color: #333;
    text-decoration: none;
}
  
nav a:hover {
    color: #0066c0;
}
.order{
    color: #000000;
}
p{
    color: #5b5a5a;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
