body {
  background-color: black;
  font-family: 'Courier New', monospace;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.6;
  z-index: 1;
}

.navbar:hover {
  opacity: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 24px;
}

.navbar a:hover {
  background: azure;
  color: black;
}

.main {
  padding-top: 16px;
  padding-bottom: 64px;
}

.header {
  color: white;
  text-align: center;
  font-size: 64px;
}

.body-header {
  text-align: center;
  color: white;
  font-size: 32px;
}

.body {
  padding: 16px 64px;
  text-align: center;
  background-color: white;
  width: 900px;
  height: 800px;
  overflow: auto;
  margin: auto;
  align-content: center;
}

.kitchen-order-boxes {
  border: thick solid #333333;
  border-radius: 10px;
  background-color: #9e9e9e;
  width: 800px;
  margin: 16px;
  padding: 16px;
  display: inline-block;
}

.kitchen-order-contents {
  width: 100%;
  border-style: none;
  text-align: left;
}

.kitchen-submit {
  background-color: darkgoldenrod;
  border-radius: 10px;
  padding: 16px 32px;
  color: black;
  text-decoration: none;
  border: none;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.kitchen-submit:hover {
  background-color: palegoldenrod;
}

.text-size-16px {
  font-size: 16px;
}

.text-size-32px {
  font-size: 32px;
}

.text-size-48px {
  font-size: 48px;
}

.text-size-64px {
  font-size: 64px;
}