body {
  font-family: SansSerif, sans-serif;
  background-color: bisque;
}

header {
  background-color: #87CEEB;
  padding: 20px;
}

header h1 {
  margin: 0;
  text-align: center;
  background-color: #87CEEB;
}

header h2  {
  text-align: center;
  background-color: #87CEEB; opacity: 75%;
}

header nav {
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #0066c0;
}

main {
  background-color: #87CEEB;
  padding: 20px;
}

main h2 {
  text-align: center;
}

main p {
  text-align: center;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

main ul li {
  display: inline-block;
  margin: 0 10px;
}

main ul li a {
  color: #333;
  text-decoration: none;
}

main ul li a:hover {
  color: #0066c0;
}

main input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

main input[type=submit] {
  width: 100%;
  background-color: #004d80;
  color: white;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main input[type=submit]:hover {
  background-color: #0066c0;
}

main form div {
  display: flex;
  flex-wrap: nowrap;
}

main form div label {
  flex: 1;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  width: 150px;
}
.column {
    float: left;
    width: 25%;
}
.column2 {
    float: left;
    width: 50%
}
.row:after {
    content: "";
    clear: both;
}

footer {
  background-color: #87CEEB;
  padding: 20px;
}