<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
		<title>Add Menu Item</title>
	</head>
	<body>
        <header>
        <h1>Restaurant Name</h1>
        <h2>Add Menu Item</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('menu') }}">Menu</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </nav>
        </header>
        <br>
        <main>

            <a href="{{ url_for('menu') }}">Back</a>

            <form action="{{ url_for('add_menu_item') }}" method="POST">

                <label>Name:</label>
                <input type="text" name="name"><br>

                <label>Price:</label>
                <input type="text" name="price"><br>

                <label>Calories:</label>
                <input type="text" name="calories"><br>

                <label>Allergens:</label>
                <input type="text" name="allergens"><br>

                <input type="submit" value="Update">

            </form>
        </main>
	</body>
</html>