<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/editMenuItemStyle.css') }}">
		<title>Edit Menu Item</title>
	</head>
	<body>
		<h1>Edit Menu Item</h1>
        <a href="{{ url_for('menu') }}">Back</a><br>

        <form action="{{ url_for('removeMenuItem') }}" method="POST">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Calories</th>
                        <th>Allergens</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>
                                <input type="checkbox" name="{{ row[0] }}" value="on">
                            </td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Delete Selected Rows">
        </form>
	</body>
</html>