<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/extraStyle.css') }}">
		<title>Add Menu Item</title>
	</head>
	<body>

        <div class="navbar">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('menu') }}">MENU</a>
            {% if user[3] == 3 %}
                <a href="{{ url_for('kitchen_orders') }}">MANAGE ORDERS</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
        <div class="main">
            <div class="header">
                <p>ADD MENU ITEM</p>
            </div>
            <div class="body" style="height: auto">
                <a class="button" href="{{ url_for('menu') }}">< BACK TO MENU</a>

                <form action="{{ url_for('add_menu_item') }}" method="POST">

                <div class="addmenu-grid">
                    <div class="addmenu-grid-item">
                        <input type="text" name="name" placeholder="Name..."><br>

                        <input type="text" name="price" placeholder="Price..."><br>

                        <input type="text" name="calories" placeholder="Calories..."><br>

                        <label for="category">Category:</label>
                        <select name="category">
                            <option value="Mains">Mains</option>
                            <option value="Sides">Sides</option>
                            <option value="Desserts">Desserts</option>
                            <option value="Drinks">Drinks</option>
                        </select><br>
                    </div>
                    <div class="addmenu-grid-item">
                        <label style="font-weight: bold">Allergens:</label>
                        <div class="addmenu-allergens text-align-left">
                            <label><input type="checkbox" name="options" value="Ce">Celery</label>
                            <label><input type="checkbox" name="options" value="Cr">Crustaceans</label>
                        </div><br>
                        <div class="addmenu-allergens text-align-left">
                            <label><input type="checkbox" name="options" value="E">Egg</label>
                            <label><input type="checkbox" name="options" value="F">Fish</label>
                        </div><br>
                        <div class="addmenu-allergens text-align-left">
                            <label><input type="checkbox" name="options" value="G">Cereals Containing Gluten</label>
                            <label><input type="checkbox" name="options" value="L">Lupin</label>
                        </div><br>
                        <div class="addmenu-allergens text-align-left">
                            <label><input type="checkbox" name="options" value="Mi">Milk</label>
                            <label><input type="checkbox" name="options" value="Mo">Molluscs</label>
                        </div><br>
                        <div class="addmenu-allergens text-align-left">
                            <label><input type="checkbox" name="options" value="Mu">Mustard</label>
                            <label><input type="checkbox" name="options" value="N">Nuts</label>
                        </div><br>
                        <div class="addmenu-allergens text-align-left">
                            <label><input type="checkbox" name="options" value="P">Peanuts</label>
                            <label><input type="checkbox" name="options" value="Se">Sesame Seeds</label>
                        </div><br>
                        <div class="addmenu-allergens text-align-left">
                            <label><input type="checkbox" name="options" value="Su">Sulphur Dioxide</label>
                            <label><input type="checkbox" name="options" value="S">Soya</label>
                        </div><br>
                    </div>
                </div>
                    {% if error %}
                        <h2>{{ error }}</h2>
                    {% endif %}
                    <input class="addmenu-submit" type="submit" value="Update">
                </form>
            </div>
        </div>
        <div class="footer">
            <p>Oaxaca Group</p>
        </div>
	</body>
</html>