<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <title>Tables</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h2>{{ alert }}</h2>
    <input onclick="confirmAlert()" type="submit" value="Calling">
</body>
</html>