<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
		<title>Calling</title>
	</head>
	<body>
    <header>
        <h1>Restaurant Name</h1>
        <h2>Calling</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('cust_menu') }}">Menu</a></li>
                <li><a href="{{ url_for('call') }}">Call Waiter</a></li>
                <li><a href="{{ url_for('order') }}">Order</a></li>
                <li><a href="{{ url_for('customer_orders') }}">My Orders</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <main>


        <p>-</p>
        <h1>Your Waiter Today Is ...</h1>
        {% for row in rows %}
        <h1>{{ row[0] }}</h1>
        <h1>{{ row[1] }}</h1>
        <p>-</p>
        {% endfor %}

    </main>
	</body>
</html>
