<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/extraStyle.css') }}">
		<title>Calling</title>
	</head>
	<body>
        <div class="navbar">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('custMenu') }}">MENU</a>
            <a href="{{ url_for('call') }}">CALL WAITER</a>
            <a href="{{ url_for('order') }}">ORDER</a>
            <a href="{{ url_for('customer_orders') }}">MY ORDERS</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
        <div class="main">
            <div class="header">
                <p>CALLING</p>
            </div>
            <div class="body" style="height: auto">
                <p style="font-size: 64px; font-weight: bold">Your Waiter Today Is ...</p>
                {% for row in rows %}
                    <p style="font-size: 48px; font-weight: bold; color: goldenrod;">{{ row[0] }} {{ row[1] }}</p>
                {% endfor %}
            </div>
        </div>
	</body>
</html>
