<!DOCTYPE html>
<html lang="en">
<!-- Kitchen Orders page -->

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/extraStyle.css') }}">
    <title>Customer Orders</title>
</head>

<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('custMenu') }}">MENU</a>
        <a href="{{ url_for('call') }}">CALL WAITER</a>
        <a href="{{ url_for('order') }}">ORDER</a>
        <a href="{{ url_for('customer_orders') }}">MY ORDERS</a>
        <a href="{{ url_for('about') }}">ABOUT</a>
        <a href="{{ url_for('logout') }}">LOGOUT</a>
    </div>

    <!-- Content -->
    <div class="main">
        <div class="header">
            <p>MY ORDERS</p>
        </div>
        <div class="body">
            {% for key, value in all_orders.items() %}
            <div class="kitchen-order-boxes">
                <table class="kitchen-order-contents">
                    <tr>
                        <td>
                            <p class="text-size-32px">Order: {{ key }}</p>
                            <p>Placed: {{ all_orders[key][0][2] }}</p>
                        </td>
                        <td>
                            <ul style="list-style: none">
                                {% for row in value %}
                                <li class="text-size-16px">{{ row[1] }} x {{ row[0] }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% if all_orders[key][0][3] == 0 %}
                                <p>Status: Ordered</p>
                            {% elif all_orders[key][0][3] == 1 %}
                                <p>Status: Confirmed</p>
                            {% elif all_orders[key][0][3] == 2 %}
                                <p>Status: Out for delivery</p>
                            {% elif all_orders[key][0][3] == 3 %}
                                <p>Status: Delivered</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>Oaxaca Group</p>
    </div>

    <!-- End Content -->
</body>

</html>