<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/extraStyle.css') }}">
		<title>Edit Menu Item</title>
	</head>
	<body>

        <div class="navbar">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('custMenu') }}">MENU</a>
            {% if user[3] == 3 %}
                <a href="{{ url_for('kitchen_orders') }}">MANAGE ORDERS</a>
            {% elif user[3] == 4 %}
                <a href="{{ url_for('manage_accounts') }}">MANAGE ACCOUNTS</a>
            {% endif %}
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
        <div class="main">
            <div class="header">
                <p>EDIT MENU ITEMS</p>
            </div>
            <div class="body">
                <a class="button" href="{{ url_for('custMenu') }}">< BACK TO MENU</a>

                <div class="editmenu-grid">
                    {% for row in rows %}
                        <div class="editmenu-grid-item">
                            <form action="{{ url_for('edit_menu_item') }}" method="POST">
                                <p style="font-weight: bold">{{ row[1] }}</p>
                                <p>£{{ row[2] }}</p>
                                <p>Category: {{ row[3] }}</p>
                                <p>{{ row[4] }}kcal</p>
                                <p>Allergens: {{ row[5] }}</p>
                                <input type="hidden" name="itemID" value="{{ row[0] }}">
                                <input class="kitchen-submit text-size-16px" type="submit" value="Delete Item">
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Oaxaca Group</p>
        </div>
	</body>
</html>