<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
		<title>Home</title>
	</head>
	<body>
        <header>
            <h1>Restaurant Name</h1>
            <h2>Home</h2>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    {% if user[3] == 0 %}
                        <li><a href="login.html">Login</a></li>
                    {% elif user[3] == 1 %}
                        <li><a href="calling.html">Call Waiter</a></li>
                        <li><a href="order.html">Order</a></li>
                        <li><a href="home.html">Logout</a></li>
                    {% elif user[3] == 2 %}
                        <li><a href="home.html">Logout</a></li>
                    {% elif user[3] == 3 %}
                        <li><a href="home.html">Logout</a></li>
                    {% elif user[3] == 4 %}
                        <li><a href="home.html">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <br>
        <main>
            <h3>Welcome</h3>
            <p>{{ user[1] }} {{ user[2] }}</p>
        </main>
	</body>
</html>