<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
		<title>Home</title>
	</head>
	<body>
        <header>
            <h1>Restaurant Name</h1>
            <h2>Home</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('menu') }}">Menu</a></li>
                    {% if user[2] == 0 %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% elif user[2] == 1 %}
                        <li><a href="{{ url_for('call') }}">Call Waiter</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% elif user[2] == 2 %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% elif user[2] == 3 %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% elif user[2] == 4 %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <br>
        <main>
            <h3>Welcome</h3>
            <p>{{ user[0] }} {{ user[1] }}</p>
        </main>
	</body>
</html>