<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/format.css') }}">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Courier New', monospace;
    }

    .menu {
        display: none
    }

    .bgimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: ("customerHomeCover.jpg");
        min-height: 90%;
    }
</style>
</style>

<body>
    <!-- Start Content -->
    <div id="home" class="css-content">

        <!-- Navbar (Sits on top) -->
        <div class="css-top css-hide-small">
            <div class="css-bar css-xlarge css-black css-opacity css-hover-opacity-off" id="myNavbar">

                <a href="{{ url_for('home') }}" class="css-bar-item css-button">HOME</a>
                <a href="{{ url_for('custMenu') }}" class="css-bar-item css-button">MENU</a>

                <!-- Additional buttons for no login credentials -->
                {% if user[3] == 0 %}

                <a href="{{ url_for('about') }}" class="css-bar-item css-button">ABOUT</a>
                <a href="{{ url_for('fetch_login') }}" class="css-bar-item css-button">LOGIN</a>

                <!-- Customer additional button -->
                {% elif user[3] == 1 %}

                <a href="{{ url_for('call') }}" class="css-bar-item css-button">CALL WAITER</a>
                <a href="{{ url_for('order') }}" class="css-bar-item css-button">ORDER</a>
                <a href="{{ url_for('customer_orders') }}" class="css-bar-item css-button">MY ORDERS</a>
                <a href="{{ url_for('about') }}" class="css-bar-item css-button">ABOUT</a>
                <a href="{{ url_for('logout') }}" class="css-bar-item css-button">LOGOUT</a>

                <!-- Waiter additional buttons -->
                {% elif user[3] == 2 %}

                <a href="{{ url_for('waiter_order_confirm') }}" class="css-bar-item css-button">MANAGE ORDERS</a>
                <a href="{{ url_for('add_menu_item') }}" class="css-bar-item css-button">ADD MENU ITEM</a>
                <a href="{{ url_for('edit_menu_item') }}" class="css-bar-item css-button">EDIT MENU ITEM</a>
                <a href="{{ url_for('calling_confirm') }}" class="css-bar-item css-button">TABLES</a>
                <a href="{{ url_for('about') }}" class="css-bar-item css-button">ABOUT</a>
                <a href="{{ url_for('logout') }}" class="css-bar-item css-button">LOGOUT</a>

                <!-- Kitchen staff additional buttons -->
                {% elif user[3] == 3 %}

                <a href="{{ url_for('kitchen_orders') }}" class="css-bar-item css-button">MANAGE ORDERS</a>
                <a href="{{ url_for('add_menu_item') }}" class="css-bar-item css-button">ADD MENU ITEM</a>
                <a href="{{ url_for('edit_menu_item') }}" class="css-bar-item css-button">EDIT MENU ITEM</a>
                <a href="{{ url_for('about') }}" class="css-bar-item css-button">ABOUT</a>
                <a href="{{ url_for('logout') }}" class="css-bar-item css-button">LOGOUT</a>

                <!-- Manager additional buttons -->
                {% elif user[3] == 4 %}

                <a href="{{ url_for('manage_accounts') }}" class="css-bar-item css-button">MANAGE ACCOUNTS</a>
                <a href="{{ url_for('add_menu_item') }}" class="css-bar-item css-button">ADD MENU ITEM</a>
                <a href="{{ url_for('edit_menu_item') }}" class="css-bar-item css-button">EDIT MENU ITEM</a>
                <a href="{{ url_for('about') }}" class="css-bar-item css-button">ABOUT</a>
                <a href="{{ url_for('logout') }}" class="css-bar-item css-button">LOGOUT</a>

                {% endif %}
            </div>
        </div>

        <!-- Header image -->
        <!-- Source : "https://www.pexels.com/zh-tw/photo/958545/"-->

        <div style="height:600px;"> <img src="static\customerHomeCover.jpg" style="width:100%"
                class="css-display-container css-grayscale-min background-size:cover" alt="customerHome">
        </div>
        <div class="css-display-middle css-center">
            <span class="css-text-white" style="font-size:100px">Welcome to<br>Oaxaca</span>
            <p><a href="custMenu" class="css-button css-xxlarge css-black">View menu</a></p>
        </div>
    </div>

    <!-- End Content -->
    </div>
    <script>
        "use strict";
        var css = {};
        css.hide = function (sel) {
            css.hideElements(css.getElements(sel));
        };
        css.hideElements = function (elements) {
            var i, l = elements.length;
            for (i = 0; i < l; i++) {
                css.hideElement(elements[i]);
            }
        };
        css.hideElement = function (element) {
            css.styleElement(element, "display", "none");
        };
        css.show = function (sel, a) {
            var elements = css.getElements(sel);
            if (a) { css.hideElements(elements); }
            css.showElements(elements);
        };
        css.showElements = function (elements) {
            var i, l = elements.length;
            for (i = 0; i < l; i++) {
                css.showElement(elements[i]);
            }
        };
        css.showElement = function (element) {
            css.styleElement(element, "display", "block");
        };
        css.addStyle = function (sel, prop, val) {
            css.styleElements(css.getElements(sel), prop, val);
        };
        css.styleElements = function (elements, prop, val) {
            var i, l = elements.length;
            for (i = 0; i < l; i++) {
                css.styleElement(elements[i], prop, val);
            }
        };
        css.styleElement = function (element, prop, val) {
            element.style.setProperty(prop, val);
        };
        css.toggleShow = function (sel) {
            var i, x = css.getElements(sel), l = x.length;
            for (i = 0; i < l; i++) {
                if (x[i].style.display == "none") {
                    css.styleElement(x[i], "display", "block");
                } else {
                    css.styleElement(x[i], "display", "none");
                }
            }
        };
        css.addClass = function (sel, name) {
            css.addClassElements(css.getElements(sel), name);
        };
        css.addClassElements = function (elements, name) {
            var i, l = elements.length;
            for (i = 0; i < l; i++) {
                css.addClassElement(elements[i], name);
            }
        };
        css.addClassElement = function (element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
            }
        };
        css.removeClass = function (sel, name) {
            css.removeClassElements(css.getElements(sel), name);
        };
        css.removeClassElements = function (elements, name) {
            var i, l = elements.length, arr1, arr2, j;
            for (i = 0; i < l; i++) {
                css.removeClassElement(elements[i], name);
            }
        };
        css.removeClassElement = function (element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        };
        css.toggleClass = function (sel, c1, c2) {
            css.toggleClassElements(css.getElements(sel), c1, c2);
        };
        css.toggleClassElements = function (elements, c1, c2) {
            var i, l = elements.length;
            for (i = 0; i < l; i++) {
                css.toggleClassElement(elements[i], c1, c2);
            }
        };
        css.toggleClassElement = function (element, c1, c2) {
            var t1, t2, t1Arr, t2Arr, j, arr, allPresent;
            t1 = (c1 || "");
            t2 = (c2 || "");
            t1Arr = t1.split(" ");
            t2Arr = t2.split(" ");
            arr = element.className.split(" ");
            if (t2Arr.length == 0) {
                allPresent = true;
                for (j = 0; j < t1Arr.length; j++) {
                    if (arr.indexOf(t1Arr[j]) == -1) { allPresent = false; }
                }
                if (allPresent) {
                    css.removeClassElement(element, t1);
                } else {
                    css.addClassElement(element, t1);
                }
            } else {
                allPresent = true;
                for (j = 0; j < t1Arr.length; j++) {
                    if (arr.indexOf(t1Arr[j]) == -1) { allPresent = false; }
                }
                if (allPresent) {
                    css.removeClassElement(element, t1);
                    css.addClassElement(element, t2);
                } else {
                    css.removeClassElement(element, t2);
                    css.addClassElement(element, t1);
                }
            }
        };
        css.getElements = function (id) {
            if (typeof id == "object") {
                return [id];
            } else {
                return document.querySelectorAll(id);
            }
        };
        css.filterHTML = function (id, sel, filter) {
            var a, b, c, i, ii, iii, hit;
            a = css.getElements(id);
            for (i = 0; i < a.length; i++) {
                b = a[i].querySelectorAll(sel);
                for (ii = 0; ii < b.length; ii++) {
                    hit = 0;
                    if (b[ii].innerText.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                        hit = 1;
                    }
                    c = b[ii].getElementsByTagName("*");
                    for (iii = 0; iii < c.length; iii++) {
                        if (c[iii].innerText.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                            hit = 1;
                        }
                    }
                    if (hit == 1) {
                        b[ii].style.display = "";
                    } else {
                        b[ii].style.display = "none";
                    }
                }
            }
        };
        css.sortHTML = function (id, sel, sortvalue) {
            var a, b, i, ii, y, bytt, v1, v2, cc, j;
            a = css.getElements(id);
            for (i = 0; i < a.length; i++) {
                for (j = 0; j < 2; j++) {
                    cc = 0;
                    y = 1;
                    while (y == 1) {
                        y = 0;
                        b = a[i].querySelectorAll(sel);
                        for (ii = 0; ii < (b.length - 1); ii++) {
                            bytt = 0;
                            if (sortvalue) {
                                v1 = b[ii].querySelector(sortvalue).innerText;
                                v2 = b[ii + 1].querySelector(sortvalue).innerText;
                            } else {
                                v1 = b[ii].innerText;
                                v2 = b[ii + 1].innerText;
                            }
                            v1 = v1.toLowerCase();
                            v2 = v2.toLowerCase();
                            if ((j == 0 && (v1 > v2)) || (j == 1 && (v1 < v2))) {
                                bytt = 1;
                                break;
                            }
                        }
                        if (bytt == 1) {
                            b[ii].parentNode.insertBefore(b[ii + 1], b[ii]);
                            y = 1;
                            cc++;
                        }
                    }
                    if (cc > 0) { break; }
                }
            }
        };
        css.slideshow = function (sel, ms, func) {
            var i, ss, x = css.getElements(sel), l = x.length;
            ss = {};
            ss.current = 1;
            ss.x = x;
            ss.ondisplaychange = func;
            if (!isNaN(ms) || ms == 0) {
                ss.milliseconds = ms;
            } else {
                ss.milliseconds = 1000;
            }
            ss.start = function () {
                ss.display(ss.current)
                if (ss.ondisplaychange) { ss.ondisplaychange(); }
                if (ss.milliseconds > 0) {
                    window.clearTimeout(ss.timeout);
                    ss.timeout = window.setTimeout(ss.next, ss.milliseconds);
                }
            };
            ss.next = function () {
                ss.current += 1;
                if (ss.current > ss.x.length) { ss.current = 1; }
                ss.start();
            };
            ss.previous = function () {
                ss.current -= 1;
                if (ss.current < 1) { ss.current = ss.x.length; }
                ss.start();
            };
            ss.display = function (n) {
                css.styleElements(ss.x, "display", "none");
                css.styleElement(ss.x[n - 1], "display", "block");
            }
            ss.start();
            return ss;
        };
        css.includeHTML = function (cb) {
            var z, i, elmnt, file, xhttp;
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                file = elmnt.getAttribute("css-include-html");
                if (file) {
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            elmnt.removeAttribute("css-include-html");
                            css.includeHTML(cb);
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    return;
                }
            }
            if (cb) cb();
        };
        css.getHttpData = function (file, func) {
            css.http(file, function () {
                if (this.readyState == 4 && this.status == 200) {
                    func(this.responseText);
                }
            });
        };
        css.getHttpObject = function (file, func) {
            css.http(file, function () {
                if (this.readyState == 4 && this.status == 200) {
                    func(JSON.parse(this.responseText));
                }
            });
        };
        css.displayHttp = function (id, file) {
            css.http(file, function () {
                if (this.readyState == 4 && this.status == 200) {
                    css.displayObject(id, JSON.parse(this.responseText));
                }
            });
        };
        css.http = function (target, readyfunc, xml, method) {
            var httpObj;
            if (!method) { method = "GET"; }
            if (window.XMLHttpRequest) {
                httpObj = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                httpObj = new ActiveXObject("Microsoft.XMLHTTP");
            }
            if (httpObj) {
                if (readyfunc) { httpObj.onreadystatechange = readyfunc; }
                httpObj.open(method, target, true);
                httpObj.send(xml);
            }
        };
        css.getElementsByAttribute = function (x, att) {
            var arr = [], arrCount = -1, i, l, y = x.getElementsByTagName("*"), z = att.toUpperCase();
            l = y.length;
            for (i = -1; i < l; i += 1) {
                if (i == -1) { y[i] = x; }
                if (y[i].getAttribute(z) !== null) { arrCount += 1; arr[arrCount] = y[i]; }
            }
            return arr;
        };
        css.dataObject = {},
            css.displayObject = function (id, data) {
                var htmlObj, htmlTemplate, html, arr = [], a, l, rowClone, x, j, i, ii, cc, repeat, repeatObj, repeatX = "";
                htmlObj = document.getElementById(id);
                htmlTemplate = init_template(id, htmlObj);
                html = htmlTemplate.cloneNode(true);
                arr = css.getElementsByAttribute(html, "css-repeat");
                l = arr.length;
                for (j = (l - 1); j >= 0; j -= 1) {
                    cc = arr[j].getAttribute("css-repeat").split(" ");
                    if (cc.length == 1) {
                        repeat = cc[0];
                    } else {
                        repeatX = cc[0];
                        repeat = cc[2];
                    }
                    arr[j].removeAttribute("css-repeat");
                    repeatObj = data[repeat];
                    if (repeatObj && typeof repeatObj == "object" && repeatObj.length != "undefined") {
                        i = 0;
                        for (x in repeatObj) {
                            i += 1;
                            rowClone = arr[j];
                            rowClone = css_replace_curly(rowClone, "element", repeatX, repeatObj[x]);
                            a = rowClone.attributes;
                            for (ii = 0; ii < a.length; ii += 1) {
                                a[ii].value = css_replace_curly(a[ii], "attribute", repeatX, repeatObj[x]).value;
                            }
                            (i === repeatObj.length) ? arr[j].parentNode.replaceChild(rowClone, arr[j]) : arr[j].parentNode.insertBefore(rowClone, arr[j]);
                        }
                    } else {
                        console.log("css-repeat must be an array. " + repeat + " is not an array.");
                        continue;
                    }
                }
                html = css_replace_curly(html, "element");
                htmlObj.parentNode.replaceChild(html, htmlObj);
                function init_template(id, obj) {
                    var template;
                    template = obj.cloneNode(true);
                    if (css.dataObject.hasOwnProperty(id)) { return css.dataObject[id]; }
                    css.dataObject[id] = template;
                    return template;
                }
                function css_replace_curly(elmnt, typ, repeatX, x) {
                    var value, rowClone, pos1, pos2, originalHTML, lookFor, lookForARR = [], i, cc, r;
                    rowClone = elmnt.cloneNode(true);
                    pos1 = 0;
                    while (pos1 > -1) {
                        originalHTML = (typ == "attribute") ? rowClone.value : rowClone.innerHTML;
                        pos1 = originalHTML.indexOf("{{", pos1);
                        if (pos1 === -1) { break; }
                        pos2 = originalHTML.indexOf("}}", pos1 + 1);
                        lookFor = originalHTML.substring(pos1 + 2, pos2);
                        lookForARR = lookFor.split("||");
                        value = undefined;
                        for (i = 0; i < lookForARR.length; i += 1) {
                            lookForARR[i] = lookForARR[i].replace(/^\s+|\s+$/gm, ''); //trim
                            if (x) { value = x[lookForARR[i]]; }
                            if (value == undefined && data) { value = data[lookForARR[i]]; }
                            if (value == undefined) {
                                cc = lookForARR[i].split(".");
                                if (cc[0] == repeatX) { value = x[cc[1]]; }
                            }
                            if (value == undefined) {
                                if (lookForARR[i] == repeatX) { value = x; }
                            }
                            if (value == undefined) {
                                if (lookForARR[i].substr(0, 1) == '"') {
                                    value = lookForARR[i].replace(/"/g, "");
                                } else if (lookForARR[i].substr(0, 1) == "'") {
                                    value = lookForARR[i].replace(/'/g, "");
                                }
                            }
                            if (value != undefined) { break; }
                        }
                        if (value != undefined) {
                            r = "{{" + lookFor + "}}";
                            if (typ == "attribute") {
                                rowClone.value = rowClone.value.replace(r, value);
                            } else {
                                css_replace_html(rowClone, r, value);
                            }
                        }
                        pos1 = pos1 + 1;
                    }
                    return rowClone;
                }
                function css_replace_html(a, r, result) {
                    var b, l, i, a, x, j;
                    if (a.hasAttributes()) {
                        b = a.attributes;
                        l = b.length;
                        for (i = 0; i < l; i += 1) {
                            if (b[i].value.indexOf(r) > -1) { b[i].value = b[i].value.replace(r, result); }
                        }
                    }
                    x = a.getElementsByTagName("*");
                    l = x.length;
                    a.innerHTML = a.innerHTML.replace(r, result);
                }
            };
    </script>
</body>

</html>