<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
		<title>Manage Orders</title>
	</head>
	<body>
        <header>
            <h1>Restaurant Name</h1>
            <h2>Manage Orders</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('menu') }}">Menu</a></li>
                    <li><a href="{{ url_for('kitchen_orders') }}">Manage Orders</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>
        <br>
        <main>
            <h2>Orders To Be Made:</h2>
            {% for key, value in all_orders.items() %}
                <form action="{{ url_for('kitchen_orders') }}" method="POST">
                    <h3>Order: {{ key }}</h3>
                    <h4>Placed: {{ all_orders[key][0][2] }}</h4>
                    <ul>
                        {% for row in value %}
                            <li>{{ row[1] }} x {{ row[0] }}</li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="orderID" value="{{ key }}">
                    <input type="submit" value="Order Finished">
                </form>
                <p>-</p>
            {% endfor %}
        </main>
	</body>
</html>