<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
    <header>
        <h1>Restaurant Name</h1>
        <h2>Home</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('menu') }}">Menu</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </nav>
    </header>
    <br>
    <main>
        <li><a href="{{ url_for('create_login') }}">Sign Up</a></li>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="firstname">First name</label>
            <input name="fname" type="text" id="firstname">
            <br>
            <label for="surname">Surname</label>
            <input name="sname" type="text" id="surname">
            <br>
            <label for="password">Password</label>
            <input name="pass" type="password" id="password" minlength="8" required></input>
            <br>
            {% if error %}
                <h2>{{ error }}</h2>
            {% endif %}
            <br>
            <input type="submit" value="Login">


        </form>
    </main>
</body>
</html>