<!DOCTYPE html>
<html lang="en">

<!-- Login page -->

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/extraStyle.css') }}">
</head>

<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('custMenu') }}">MENU</a>
        <a href="{{ url_for('about') }}">ABOUT</a>
        <a href="{{ url_for('fetch_login') }}">LOGIN</a>
    </div>

    <!-- Header -->
    <div class="main">
        <div class="header">
            <p>LOGIN</p>
        </div>

        <!-- Inserting login credentials -->
        <div class="body" style="height: 500px">
            <div class="addmenu-grid">
                <div class="addmenu-grid-item">
                    <p class="text-size-32px">LOGIN</p>

                    <form action="{{ url_for('fetch_login') }}" method="POST">

                        <input name="fname" type="text" id="firstname" placeholder="First Name...">

                        <input name="sname" type="text" id="surname" placeholder="Last Name...">

                        <!-- Decline credentials when passwords does not contains 8 characters  -->
                        <input name="pass" type="password" id="password" minlength="8" required
                            placeholder="Password...">

                        {% if error %}
                        <h2>{{ error }}</h2>
                        {% endif %}

                        <input class="addmenu-submit" type="submit" value="Login">
                    </form>
                </div>

                <!-- Creating new login credentials -->
                <div class="addmenu-grid-item">
                    <p class="text-size-32px">CREATE LOGIN</p>

                    <form action="{{ url_for('create_login') }}" method="POST">

                        <input type="text" name="firstName" placeholder="First Name..."><br>

                        <input type="text" name="surname" placeholder="Last Name..."><br>

                        <!-- Decline credentials when passwords does not contains 8 characters  -->
                        <input type="password" name="password" minlength="8" required placeholder="Password..."><br>

                        {% if error %}
                        <h2>{{ error }}</h2>
                        {% endif %}

                        <!-- Create login button -->
                        <input class="addmenu-submit" type="submit" value="Create Login">

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>Oaxaca Group</p>
    </div>

    <!-- End content -->
</body>

</html>
