<!DOCTYPE html>
<html lang="en">

<!-- Manage account page -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/extraStyle.css') }}">
    <title>Manage Accounts</title>
</head>

<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('custMenu') }}">MENU</a>
        <a href="{{ url_for('manage_accounts') }}">MANAGE ACCOUNTS</a>
        <a href="{{ url_for('add_menu_item') }}">ADD MENU ITEM</a>
        <a href="{{ url_for('edit_menu_item') }}">EDIT MENU ITEM</a>
        <a href="{{ url_for('about') }}">ABOUT</a>
        <a href="{{ url_for('logout') }}">LOGOUT</a>
    </div>
    
    <div class="main">
        <!-- Header -->
        <div class="header">
            <p>MANAGE ACCOUNTS</p>
        </div>

        <!-- Content -->
        <div class="body">
            <form style="display: inline-block" action="{{ url_for('manage_accounts') }}" method="POST">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <input class="accountSearch-text" style="padding: 10px 16px" type="text" name="firstName"
                                placeholder="First Name...">
                        </td>
                        <td>
                            <input class="accountSearch-text" style="padding: 10px 16px" type="text" name="lastName"
                                placeholder="Last Name...">
                        </td>
                        <td>
                            <input class="addmenu-submit" style="padding: 10px 16px" type="submit" value="Search">
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                {% if rows %}
                {% for row in rows %}
                <div class="kitchen-order-boxes">
                    <table class="kitchen-order-contents" style="width: 100%">
                        <tr>
                            <td>
                                <p>{{ row[1] }}</p>
                            </td>
                            <td>
                                <p>{{ row[2] }}</p>
                            </td>
                            <td>
                                {% if row[3] == 1 %}
                                <p>Role: Customer</p>
                                {% elif row[3] == 2 %}
                                <p>Role: Waiter</p>
                                {% elif row[3] == 3 %}
                                <p>Role: Kitchen</p>
                                {% elif row[3] == 4 %}
                                <p>Role: Manager</p>
                                {% endif %}
                            </td>
                            <td>
                                <form action="{{ url_for('manage_accounts_edit') }}" method="POST">
                                    <select name="role">
                                        <option value="1">Customer</option>
                                        <option value="2">Waiter</option>
                                        <option value="3">Kitchen</option>
                                        <option value="4">Manager</option>
                                    </select>
                                    <input type="hidden" name="userID" value="{{ row[0] }}">
                                    <input style="width: 100%; font-size: 16px" class="kitchen-submit" type="submit"
                                        value="Change Role">
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>Oaxaca Group</p>
    </div>

    <!-- End content -->
</body>

</html>