<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/extraStyle.css') }}">
		<title>Manage Accounts</title>
	</head>
	<body>
        <div class="navbar">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('menu') }}">MENU</a>
            <a href="{{ url_for('manage_accounts') }}">MANAGE ACCOUNTS</a>
            <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
        <div class="main">
            <div class="header">
                <p>MANAGE ACCOUNTS</p>
            </div>
            <div class="body">
                <form style="display: inline-block" action="{{ url_for('manage_accounts') }}" method="POST">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <input class="accountSearch-text" style="padding: 10px 16px" type="text" name="firstName" placeholder="First Name...">
                            </td>
                            <td>
                                <input class="accountSearch-text" style="padding: 10px 16px" type="text" name="lastName" placeholder="Last Name...">
                            </td>
                            <td>
                                <input class="addmenu-submit" style="padding: 10px 16px" type="submit" value="Search">
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="accountDisplay-grid">

                </div>
            </div>
        </div>
        <div class="footer">
            <p>Oaxaca Group</p>
        </div>
    </body>
</html>