<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
		<title>Menu</title>
	</head>
	<body>
    <header>
        <h1>Restaurant Name</h1>
        <h2>Menu</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                {% if user[2] == 0 %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% elif user[2] == 1 %}
                    <li><a href="{{ url_for('call') }}">Call Waiter</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% elif user[2] == 2 %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% elif user[2] == 3 %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% elif user[2] == 4 %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <br>
    <main>
        <ul>
            {% if user[2] > 1 %}
            <li><a href="{{ url_for('add_menu_item') }}">Add Menu Item</a></li>
            <li><a href="{{ url_for('edit_menu_item') }}">Edit Menu</a></li>
            {% endif %}
        </ul>
        <fieldset>
        <label>Sort and Filter:</label>
            <div class="row">
                <div class="column">
                    <legend>Allergens</legend>
                    <form action="{{ url_for('menu') }}" method="POST">
                    <label><input type="checkbox" name="options" value="Ce">Celery</label><br>
                    <label><input type="checkbox" name="options" value="Cr">Crustaceans</label><br>
                    <label><input type="checkbox" name="options" value="E">Egg</label><br>
                    <label><input type="checkbox" name="options" value="F">Fish</label><br>
                    <label><input type="checkbox" name="options" value="G">Gluten</label><br>
                    <label><input type="checkbox" name="options" value="L">Lupin</label><br>
                    <label><input type="checkbox" name="options" value="Mi">Milk</label><br>
                </div>
                <div class="column">
                    <br>
                    <label><input type="checkbox" name="options" value="Mo">Molluscs</label><br>
                    <label><input type="checkbox" name="options" value="Mu">Mustard</label><br>
                    <label><input type="checkbox" name="options" value="N">Nuts</label><br>
                    <label><input type="checkbox" name="options" value="P">Peanuts</label><br>
                    <label><input type="checkbox" name="options" value="Se">Sesame Seeds</label><br>
                    <label><input type="checkbox" name="options" value="Su">Sulphur Dioxide</label><br>
                    <label><input type="checkbox" name="options" value="S">Soya</label><br>
                </div>
                <div class="column">
                    <div class="column2">
                        <label>Price:</label>
                        <input type="text" name="Price_Min" placeholder="Min">
                        <label>Calories:</label>
                        <input type="text" name="Calories_Min" placeholder="Min">
                    </div>
                    <div class="column2">
                        <br>
                        <input type="text" name="Price_Max" placeholder="Max">
                        <br><br>
                        <input type="text" name="Calories_Max" placeholder="Max">
                    </div>
                </div>
                <div class="column">
                    <legend>Sort By</legend>
                    <select name="Sort" id="Sort">
                        <option>Select</option>>
                        <option value="HPrice">Highest Price</option>
                        <option value="LPrice">Lowest Price</option>
                        <option value="HCalorie">Highest Calorie</option>
                        <option value="LCalorie">Lowest Calorie</option>
                    </select>
  </select>
                </div>
            </div>
            <input onclick="filter_menu()" type="submit" value="Filter">
            </form>
            <fieldset>
        <p>-</p>
        {% for row in rows %}
        <h2>{{ row[1] }}</h2>
        <p>£{{ row[2] }}</p>
        <p>{{ row[3] }}kcal</p>
        <p><b>{{ row[4] }}</b></p>
        <p>-</p>
        {% endfor %}

        <p><b>Allergens: </b></p>
        <p><b>Ce</b>: Celery / <b>Cr</b>: Crustaceans / <b>E</b>: Egg / <b>F</b>: Fish</p>
        <p><b>G</b>: Cereals Containing Gluten / <b>L</b>: Lupin / <b>Mi</b>: Milk / <b>Mo</b>: Molluscs</p>
        <p><b>Mu</b>: Mustard / <b>N</b>: Nuts / <b>P</b>: Peanuts / <b>Se</b>: Sesame Seeds</p>
        <p><b>Su</b>: Sulphur Dioxide / <b>S</b>: Soya</p>
    </main>
	</body>
</html>
