<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/extraStyle.css') }}">
		<title>Home</title>
	</head>
	<body>
        <div class="navbar">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('custMenu') }}">MENU</a>
            <a href="{{ url_for('call') }}">CALL WAITER</a>
            <a href="{{ url_for('order') }}">ORDER</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
        <div class="main">
            <div class="header">
                <p>ORDER CONFIRMATION</p>
            </div>
            <div class="body" style="height: auto">
                <h1>Your order has been placed!</h1>
                <h2>A waiter will be along soon to confirm your order.</h2>
                <form action="{{ url_for('order_conformation') }}" method="POST">
                    <input class="addmenu-submit text-size-16px" type="submit" value="Press here to return to home page.">
                </form>
            </div>
        </div>
        <div class="footer">
            <p>Oaxaca Group</p>
        </div>
	</body>
</html>