<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
		<title>Home</title>
	</head>
	<body>
        <header>
            <h1>Restaurant Name</h1>
            <h2>Order Payment</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('menu') }}">Menu</a></li>
                    <li><a href="{{ url_for('call') }}">Call Waiter</a></li>
                    <li><a href="{{ url_for('order') }}">Order</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>
        <br>
        <main>
            <table>
                <tr>
                    <th>
                        <h3>Item Name:</h3>
                    </th>
                    <th>
                        <h3>Quantity:</h3>
                    </th>
                    <th>
                        <h3>Price:</h3>
                    </th>
                </tr>
                {% for row in rows %}
                    <tr>
                        <td>
                            <p>{{ row[0] }}</p>
                        </td>
                        <td>
                            <p>{{ row[1] }}</p>
                        </td>
                        <td>
                            <p>£{{ row[2] }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <h3>Total Price:</h3>
            <h3>£{{ totalPrice }}</h3>
            <form action="{{ url_for('order_payment') }}", method="POST">
                <label for="name">Name On Card:</label>
                <input type="text" name="cardNumber" id="name">
                <label for="cardNum">Card Number:</label>
                <input type="text" name="cardNumber" id="cardNum">
                <label for="CVV">CVV Number:</label>
                <input type="text" name="cardNumber" id="CVV">
                <input type="submit" value="Submit Details">
            </form>
        </main>
	</body>
</html>