<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  </head>
  <body>
    <header>
      <h1>Restaurant Name</h1>
        <h2>Order</h2>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('menu') }}">Menu</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('call') }}">Call Waiter</a></li>
                    <li><a href="{{ url_for('order') }}">Order</a></li>
        </ul>
      </nav>
    </header>
    <br>
    <main>
      <h1>Today's Options</h1>
      <ul>
        <li>
          <div class="food-item">
            <h2>Pepperoni Pizza</h2>
            <p>Price: £10</p>
              <div>
                <label for="quantity">Quantity:</label>
                <input type="text" id="quantity" name="quantity">
              </div>
          </div>
        </li>
        <li>
          <div class="food-item">
            <h2>Chicken Fillet Burger</h2>
            <p>Price: £8</p>
            <div>
              <label for="quantity">Quantity:</label>
              <input type="text" id="quantity" name="quantity">
            </div>
          </div>
        </li>
        <li>
          <div class="food-item">
            <h2>Salad</h2>
            <p>Price: £5</p>
              <div>
                <label for="quantity">Quantity:</label>
                <input type="text" id="quantity" name="quantity">
              </div>
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>