<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/extraStyle.css') }}">
		<title>Home</title>
	</head>
	<body>
        <div class="navbar">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('custMenu') }}">MENU</a>
            <a href="{{ url_for('waiter_order_confirm') }}">MANAGE ORDERS</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
        <div class="main">
            <div class="header">
                <p>MANAGE ORDERS - WAITER</p>
            </div>
            <div class="body">
                <div class="waiter-orders-bar">
                    <a href="{{ url_for('waiter_order_confirm') }}">TO CONFIRM</a>
                    <a href="{{ url_for('waiter_order_delivered') }}">TO DELIVER</a>
                </div>
                <p class="text-size-32px">ORDERS TO CONFIRM</p>
                {% for key, value in all_orders.items() %}
                    <div class="kitchen-order-boxes">
                        <table class="kitchen-order-contents">
                            <tr>
                                <td>
                                    <p class="text-size-32px">Order: {{ key }}</p>
                                    <p class="text-size-16px">Table: {{ all_orders[key][0][1] }}</p>
                                    <p>Placed: {{ all_orders[key][0][3] }}</p>
                                </td>
                                <td>
                                    <ul style="list-style: none">
                                        {% for row in value %}
                                            <li class="text-size-16px">{{ row[2] }} x {{ row[0] }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <form action="{{ url_for('waiter_order_confirm') }}" method="POST">
                                        <input type="hidden" name="orderID" value="{{ key }}">
                                        <input class="kitchen-submit text-size-16px" type="submit" value="Confirm Order">
                                    </form>
                                    <form action="{{ url_for('waiter_order_cancel') }}" method="POST">
                                        <input type="hidden" name="orderID" value="{{ key }}">
                                        <input class="kitchen-submit text-size-16px" type="submit" value="Cancel Order">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <p>Oaxaca Group</p>
        </div>
	</body>
</html>

















